<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smikhlevskiy.uafinance">

    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/currency_exchange"
        android:label="UAFinance"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB2ULhHOixCcYwYZ26ifHVdDQGz4B_SPpY"/> <!-- debug -->
        <!--android:value="AIzaSyB9&#45;&#45;2eGPC6nvOh-2-zm5xAF4Qy5O-TIIA" /> &lt;!&ndash;release &ndash;&gt;-->





            <!--android:value="AIzaSyCPFE8KBSoJloV3MtI5ISbyNgiFgcCtMH8" />-->
        <!--
        AIzaSyCPFE8KBSoJloV3MtI5ISbyNgiFgcCtMH8  //debug
        AIzaSyBLeHyfQO_kh13jsSE7iLUSGXrzZh9CUys // release
        -->

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:allowTaskReparenting="false"
            android:exported="true"
            android:label="UAFinance"
            android:theme="@style/AppTheme.NoActionBar"
             >
            <!--android:screenOrientation="portrait" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.OrganizationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_organization">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.OrganizationActivity" />

        </activity>
        <activity
            android:name=".ui.LocationMapActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:label="@string/mapActivityName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LocationMapActivity" />

        </activity>


        <activity
            android:name=".ui.KerbstoneActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:label="@string/kerbstone_market">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.KerbstoneActivity" />

        </activity>
        <activity
            android:name=".ui.UAFPreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:label="@string/preferences_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UAFPreferencesActivity" />

        </activity>

        <service
            android:name=".services.NotificationService"
            android:exported="false"
            android:icon="@mipmap/currency_exchange"
            android:label="@string/notification_service"/>

        <receiver
            android:name=".resivers.BootBroadcastResiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

            </intent-filter>
        </receiver>

        <receiver
            android:name=".resivers.AlarmBroadcastReciver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>


        <receiver android:name=".ui.UAFWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_provide" />
        </receiver>

    </application>

</manifest>
