<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smikhlevskiy.uafinance">

    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/currency_exchange"
        android:label="UAFinance"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPFE8KBSoJloV3MtI5ISbyNgiFgcCtMH8" />
        <!--
        AIzaSyCPFE8KBSoJloV3MtI5ISbyNgiFgcCtMH8  //debug
        AIzaSyBLeHyfQO_kh13jsSE7iLUSGXrzZh9CUys // release
        -->

        <activity
            android:name="smikhlevskiy.uafinance.UI.MainActivity"
            android:allowTaskReparenting="false"
            android:exported="true"
            android:label="UAFinance"
             >
            <!--android:screenOrientation="portrait" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.OrganizationActivity"
            android:label="@string/title_activity_organization">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smikhlevskiy.uafinance.UI.OrganizationActivity" />

        </activity>
        <activity
            android:name=".UI.LocationMapActivity"
            android:label="@string/mapActivityName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LocationMapActivity" />

        </activity>


        <activity
            android:name=".UI.KerbstoneActivity"
            android:label="@string/kerbstone_market">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.KerbstoneActivity" />

        </activity>
        <activity
            android:name=".UI.UAFPreferencesActivity"
            android:label="@string/preferences_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.UAFPreferencesActivity" />

        </activity>

        <service
            android:name=".services.NotificationService"
            android:exported="false"
            android:icon="@mipmap/currency_exchange"
            android:label="@string/notification_service"></service>

        <receiver
            android:name=".resivers.BootBroadcastResiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

            </intent-filter>
        </receiver>

        <receiver
            android:name=".resivers.AlarmBroadcastReciver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
